body{
    width: 100%;
    height: 100%;
    background: #fff;
}

/* 顶部header */


/* 主要内容 */
.jd_main{
    width: 100%;
    /* 一会儿用js搞它 */
    height: auto;
    overflow: hidden;
}

/* 左边表 */
.jd_main .jd_main_left{
    float: left;
    width: 76px;
    height: 100%;

    overflow: hidden;
}

.jd_main_left ul{
    width: 100%;
}

.jd_main_left ul li{
    width: 100%;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.jd_main_left ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.jd_main_left ul li.current a{
    color: #f23030;
}


/* 右边内容 */
.jd_main .jd_main_right{
    overflow: hidden;
    padding: 7px;

    background: rgb(243, 245, 247);
}

/* 右边顶部广告 */
.jd_main_right .jd_category_banner img{
    display: block;
    width: 100%;
}

/* 右边的section们统一的样式 */
.jd_main_right .jd_category_seciton{
    width: 100%;
    margin-top: 10px;
}
.jd_main_right .jd_category_seciton h4{
    font-weight: normal;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.jd_main_right .jd_category_seciton ul{
    width: 100%;

    background: #fff;
    padding: 7px;
}

.jd_main_right .jd_category_seciton ul li{
    float: left;
    width: 32.8%;
    text-align: center;
    padding: 10px;
}
.jd_main_right .jd_category_seciton ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

.jd_main_right .jd_category_seciton ul li a img{
    display: block;
    width: 100%;
}
.jd_main_right .jd_category_seciton ul li a p{
    margin-top: 10px;
}
